.Product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 910px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    grid-gap: 50px;
    align-items: center;
    font-family: sans-serif;
}
h1{
    font-size: 1.8rem;
    color:dimgray;
}
.price{
    font-size: 1.4rem;
    color:blueviolet;
    font-weight: 600;
}
.category{
    color: darkgray;
}
.description{
    font-size: 1.2rem;
    line-height: 140%;
    color: gray;
}
.img-product img{
    width: 100%;
}